@font-face{font-family:'Instrument Serif';font-style:normal;font-weight:400;font-display:swap;src:url('fonts/InstrumentSerif-normal-400.woff2') format('woff2')}
@font-face{font-family:'Instrument Serif';font-style:italic;font-weight:400;font-display:swap;src:url('fonts/InstrumentSerif-italic-400.woff2') format('woff2')}
@font-face{font-family:'Inter';font-style:normal;font-weight:400 700;font-display:swap;src:url('fonts/Inter-normal-400_700.woff2') format('woff2')}
@font-face{font-family:'JetBrains Mono';font-style:normal;font-weight:400 500;font-display:swap;src:url('fonts/JetBrainsMono-normal-400.woff2') format('woff2')}
@font-face{font-family:'Caveat';font-style:normal;font-weight:500 700;font-display:swap;src:url('fonts/Caveat-normal-500_700.woff2') format('woff2')}

@tailwind base;
@tailwind components;
@tailwind utilities;
